$color-primary: #f44336;
$color-dark: #d32f2f;
$color-black: #212121;
$color-gray: #e0e0e0;
$color-dark-gray: #757575;
$color-white: #fff;
$color-border: #bdbdbd;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1200px;
$breakpoint-xx-large: 1400px;

$size-icon: 1.5rem;
$size-touch: 40px;
